<!DOCTYPE html>
<html lang="sr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Poslovi Grada | Građanima na usluzi</title>
    <meta name="description" content="Hitne intervencije na teritoriji grada Beograda">
    <meta name=”robots” content="index, follow">
    <meta name="keywords" content="posao vodoinstalater, prijava za posao, zapošljavanje vodoinstalatera, Poslovi Grada, rad u Beogradu, posao u vodoinstalaterstvu">
    <!-- Bootstrap -->
    <link href="/css/style.css?<%= new Date().getTime();%>" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <link rel="apple-touch-icon" href="/favicon.png">
    <meta property="og:title" content="Poslovi Grada | Građanima na usluzi" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="/images/ogImage.png" />
    <meta property="og:description" content="Hitne intervencije na teritoriji grada Beograda" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D9DNYEBXMK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-D9DNYEBXMK');
    </script>
  </head>
  <body>
    <%- include ("partials/menu") -%>
    <div id="site-content">