<%- include ("partials/header") -%>
	<div class="section section1" style="">
		<div class="top"></div>
		<div class="bottom"></div>
		<div class="contentWidth">
			<div class="relative">
				<div class="logo">
					<img src="/images/logo.png">
				</div>
				<div class="text">
					Фирма Послови Града ради на санирању кварова и постављању нових водоводних и канализационих инсталација.<br>&nbsp;<br>
					На одржавању имамо више од 15.000 стамбених зграда и свакога дана успешно отклањамо кварове у преко 100 стамбених заједница.
				</div>	
			</div>
		</div>
		<div class="call">
			<div class="image"><a href="tel:+381644567456"><img src="/images/call.png"></a></div>
			<div class="note"><a href="tel:+381644567456">064/456-7-456</a></div>
		</div>
		<div class="email">
			<div class="image"><a href="mailto:info@poslovigrada.rs"><img src="/images/email.png"></a></div>
			<div class="note"><a href="mailto:info@poslovigrada.rs">info@poslovigrada.rs</a></div>
		</div>
	</div>
	<div class="section section2" style="">
		<div class="top"></div>
		<div class="bottom"></div>
		<div class="contentWidth" style="vertical-align: bottom">
			<div class="relative">
				<div class="text">
					На терену имамо 40 екипа који свакодневно решавају проблеме загушења и канализације, замена цеви, постављање нове водоводне и канализационе мреже.
					<br>&nbsp;<br>
					Такође имамо и 5 возила WOMA за одгушења спољне канализационе мреже као и 2 комбинована возила (усисно-потисна пумпа) за одвоз отпадних материјала.
				</div>	
			</div>
		</div>
	</div>
	<div class="section section3" style="">
		<div class="top"></div>
		<div class="bottom"></div>
		<div class="contentWidth" style="vertical-align: bottom">
			<div class="relative">
				<div class="text">
					Важан сегмент наше фирме је тешка механизација (багери од 3 до 13 тона), која успешним руковањем нашег искусног кадра нас чини незаустављивом организацијом на заменама уличних цевовода.
				</div>	
			</div>
		</div>
	</div>
	<div class="section section4" style="">
		<div class="top"></div>
		<div class="bottom"></div>
		<div class="contentWidth" style="vertical-align: middle">
			<div class="relative">
				<div class="logo">
					<img src="/images/logo.png">
				</div>
				<div class="text">
					Позовите нас и уверите се да радимо најквалитетније, најефикасније и најорганизованије на тржишту Вашег града-Београда.
				</div>	
			</div>
		</div>
		<div class="call">
			<div class="image"><a href="tel:+381644567456"><img src="/images/call.png"></a></div>
			<div class="note"><a href="tel:+381644567456">064/456-7-456</a></div>
		</div>
		<div class="email">
			<div class="image"><a href="mailto:info@poslovigrada.rs"><img src="/images/email.png"></a></div>
			<div class="note"><a href="mailto:info@poslovigrada.rs">info@poslovigrada.rs</a></div>
		</div>
	</div>
<%- include ("partials/footer") -%>